<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css ">
</head>
<body>
    <fieldset >
        <form action="login" method="post ">
            <h1>Đăng Nhập</h1>
            <input name="user" type="text" placeholder=" Username" id="user">
            <input  name="pass" type="text" placeholder=" Password" id="pass"><br>
            <input type="button"  id="login" type="submit" value="Đăng kí">
            <p> Nếu chưa có tài khoản hãy <a href="dangky.html ">đăng kí</a> ngay</p>
        </form>
    </fieldset>
</body>
</html>