/minimap2/nbproject/private/
/minimap2/build/
/minimap3/nbproject/private/
/minimap3/build/
/new/nbproject/private/
/new/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/dist/
/WebApplication2/build/
