body{
    margin: 0px;
    padding: 0px;
    background: url(../images/123.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}
fieldset {
    width: 620px;
    margin: 0px auto;
    padding: 0px;
    margin-top: 200px;
    background-color: bisque;
    border: 1px solid red;
}
#user ,#pass,#phone,#email{
    width: 550px;
    height: 45px;
    margin:  15px auto;
    margin-left: 20px;
}
#login{
    width: 100px;
    height: 45px;  
    margin-left: 270px;
    
    background-color:royalblue;
}
h1 {
    
    text-align: center;
}p{
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}label{
    margin-left: 20px;
}
